In [1]:
import pandas

In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.1.4'

In [12]:
df = pd.read_csv('taxi+_zone_lookup.csv', nrows=1000)

In [13]:
print(df)

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [27]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

AttributeError: 'DataFrame' object has no attribute 'tpep_pickup_datetime'

In [28]:
from sqlalchemy import create_engine

In [29]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/python/3.10.13/lib/python3.10/site-packages (2.0.26)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/codespace/.local/lib/python3.10/site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from sqlalchemy) (3.0.3)

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [7]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [8]:
pip install psycopg2

Requirement already satisfied: psycopg2 in /usr/local/python/3.10.13/lib/python3.10/site-packages (2.9.9)

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [37]:
print(pd.io.sql.get_schema(df, name='green_tripdata_2019-09', con=engine))

CREATE TABLE "green_tripdata_2019-09" (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [41]:
df_iter = pd.read_csv('green_tripdata_2019-09.csv', iterator=True, chunksize=100000)

In [42]:
df = next(df_iter)

In [43]:
len(df)

100000

In [44]:
df.lpep_pickup_datetime  = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [15]:
df.head(n=0).to_sql(name='taxi+_zone_lookup', con=engine, if_exists='replace')

0

In [46]:
%time df.to_sql(name='taxi+_zone_lookup', con=engine, if_exists='append')

CPU times: user 7.08 s, sys: 60.1 ms, total: 7.14 s
Wall time: 10.5 s

1000

In [20]:
from time import time

In [47]:

while True: 
    t_start = time()

    df = next(df_iter)

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name='green_tripdata_2019-09', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 10.382 second
inserted another chunk, took 10.945 second

/tmp/ipykernel_18412/4192532168.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 10.582 second
inserted another chunk, took 4.509 second

StopIteration:

In [25]:
df = pd.read_csv('green_tripdata_2019-09.csv', nrows=100)

In [26]:
print(df)

    VendorID lpep_pickup_datetime lpep_dropoff_datetime store_and_fwd_flag  \
0          2  2019-09-01 00:10:53   2019-09-01 00:23:46                  N
1          2  2019-09-01 00:31:22   2019-09-01 00:44:37                  N
2          2  2019-09-01 00:50:24   2019-09-01 01:03:20                  N
3          2  2019-09-01 00:27:06   2019-09-01 00:33:22                  N
4          2  2019-09-01 00:43:23   2019-09-01 00:59:54                  N
..       ...                  ...                   ...                ...
95         2  2019-09-01 00:40:55   2019-09-01 00:48:35                  N
96         2  2019-09-01 00:13:52   2019-09-01 00:21:47                  N
97         2  2019-09-01 00:37:24   2019-09-01 01:02:31                  N
98         2  2019-09-01 00:22:15   2019-09-01 00:29:52                  N
99         2  2019-09-01 00:11:53   2019-09-01 00:30:31                  N

    RatecodeID  PULocationID  DOLocationID  passenger_count  trip_distance  \
0            1            65           189                5           2.00
1            1            97           225                5           3.20
2            1            37            61                5           2.99
3            1           145           112                1           1.73
4            1           112           198                1           3.42
..         ...           ...           ...              ...            ...
95           1            95           160                1           2.24
96           1            75           151                1           2.04
97           1            41           182                1           7.77
98           1            74           260                1           4.99
99           1           255           228                1           7.54

    fare_amount  extra  mta_tax  tip_amount  tolls_amount  ehail_fee  \
0          10.5    0.5      0.5        2.36          0.00        NaN
1          12.0    0.5      0.5        0.00          0.00        NaN
2          12.0    0.5      0.5        0.00          0.00        NaN
3           7.5    0.5      0.5        1.50          0.00        NaN
4          14.0    0.5      0.5        3.06          0.00        NaN
..          ...    ...      ...         ...           ...        ...
95          9.0    0.5      0.5        0.00          0.00        NaN
96          8.5    0.5      0.5        1.96          0.00        NaN
97         26.0    0.5      0.5        5.46          0.00        NaN
98         15.0    0.5      0.5        2.58          6.12        NaN
99         22.0    0.5      0.5        0.00          0.00        NaN

    improvement_surcharge  total_amount  payment_type  trip_type  \
0                     0.3         14.16             1          1
1                     0.3         13.30             2          1
2                     0.3         13.30             2          1
3                     0.3         10.30             1          1
4                     0.3         18.36             1          1
..                    ...           ...           ...        ...
95                    0.3         10.30             2          1
96                    0.3         11.76             1          1
97                    0.3         32.76             1          1
98                    0.3         25.00             1          1
99                    0.3         23.30             2          1

    congestion_surcharge
0                    0.0
1                    0.0
2                    0.0
3                    0.0
4                    0.0
..                   ...
95                   0.0
96                   0.0
97                   0.0
98                   0.0
99                   0.0

[100 rows x 20 columns]

In [1]:
pd.__version__

NameError: name 'pd' is not defined

In [2]:
import pandas as pd

In [3]:
import sqlalchemy

In [4]:
pd.__version__

'2.1.4'

In [6]:
from sqlalchemy import create_engine

In [14]:
print(pd.io.sql.get_schema(df, name='taxi+_zone_lookup', con=engine))

CREATE TABLE "taxi+_zone_lookup" (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)