In [1]:
import pandas

In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.1.4'

In [23]:
df = pd.read_csv('green_tripdata_2019-09.csv', nrows=100)

In [5]:
print(df)

    VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0          1  2021-01-01 00:30:10   2021-01-01 00:36:12                1
1          1  2021-01-01 00:51:20   2021-01-01 00:52:19                1
2          1  2021-01-01 00:43:30   2021-01-01 01:11:06                1
3          1  2021-01-01 00:15:48   2021-01-01 00:31:01                0
4          2  2021-01-01 00:31:49   2021-01-01 00:48:21                1
..       ...                  ...                   ...              ...
95         2  2021-01-01 00:12:41   2021-01-01 00:26:47                1
96         2  2021-01-01 00:23:29   2021-01-01 00:35:03                2
97         2  2021-01-01 00:46:17   2021-01-01 00:54:25                2
98         2  2021-01-01 00:28:16   2021-01-01 00:51:44                1
99         2  2021-01-01 00:42:35   2021-01-01 00:54:41                3

    trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0            2.10           1                  N           142            43
1            0.20           1                  N           238           151
2           14.70           1                  N           132           165
3           10.60           1                  N           138           132
4            4.94           1                  N            68            33
..            ...         ...                ...           ...           ...
95           4.13           1                  N           161           226
96           4.12           1                  N           162            74
97           2.22           1                  N           144           170
98           7.11           1                  N           264           264
99           1.61           1                  N           229           237

    payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0              2          8.0    3.0      0.5        0.00           0.0
1              2          3.0    0.5      0.5        0.00           0.0
2              1         42.0    0.5      0.5        8.65           0.0
3              1         29.0    0.5      0.5        6.05           0.0
4              1         16.5    0.5      0.5        4.06           0.0
..           ...          ...    ...      ...         ...           ...
95             1         14.5    0.5      0.5        3.66           0.0
96             2         13.5    0.5      0.5        0.00           0.0
97             1          9.0    0.5      0.5        2.56           0.0
98             2         23.5    0.5      0.5        0.00           0.0
99             2          9.5    0.5      0.5        0.00           0.0

    improvement_surcharge  total_amount  congestion_surcharge
0                     0.3         11.80                   2.5
1                     0.3          4.30                   0.0
2                     0.3         51.95                   0.0
3                     0.3         36.35                   0.0
4                     0.3         24.36                   2.5
..                    ...           ...                   ...
95                    0.3         21.96                   2.5
96                    0.3         17.30                   2.5
97                    0.3         15.36                   2.5
98                    0.3         24.80                   0.0
99                    0.3         13.30                   2.5

[100 rows x 18 columns]

In [27]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

AttributeError: 'DataFrame' object has no attribute 'tpep_pickup_datetime'

In [28]:
from sqlalchemy import create_engine

In [29]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/python/3.10.13/lib/python3.10/site-packages (2.0.26)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/codespace/.local/lib/python3.10/site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from sqlalchemy) (3.0.3)

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [31]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [11]:
pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.9.tar.gz (384 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 384.9/384.9 kB 9.5 MB/s eta 0:00:00[36m0:00:01
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (pyproject.toml) ... done
  Created wheel for psycopg2: filename=psycopg2-2.9.9-cp310-cp310-linux_x86_64.whl size=584225 sha256=c6b5586287f207667fcb776b8c52ae2ced3301225e173e8aee3d9e86184fde0d
  Stored in directory: /home/codespace/.cache/pip/wheels/7d/75/13/da1c6d88687ae81bf5e3cfa07d702981ba137963163472b050
Successfully built psycopg2
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.9

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [37]:
print(pd.io.sql.get_schema(df, name='green_tripdata_2019-09', con=engine))

CREATE TABLE "green_tripdata_2019-09" (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [41]:
df_iter = pd.read_csv('green_tripdata_2019-09.csv', iterator=True, chunksize=100000)

In [42]:
df = next(df_iter)

In [43]:
len(df)

100000

In [44]:
df.lpep_pickup_datetime  = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [45]:
df.head(n=0).to_sql(name='green_tripdata_2019-09', con=engine, if_exists='replace')

0

In [46]:
%time df.to_sql(name='green_tripdata_2019-09', con=engine, if_exists='append')

CPU times: user 7.08 s, sys: 60.1 ms, total: 7.14 s
Wall time: 10.5 s

1000

In [20]:
from time import time

In [47]:

while True: 
    t_start = time()

    df = next(df_iter)

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name='green_tripdata_2019-09', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 10.382 second
inserted another chunk, took 10.945 second

/tmp/ipykernel_18412/4192532168.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 10.582 second
inserted another chunk, took 4.509 second

StopIteration:

In [25]:
df = pd.read_csv('green_tripdata_2019-09.csv', nrows=100)

In [26]:
print(df)

    VendorID lpep_pickup_datetime lpep_dropoff_datetime store_and_fwd_flag  \
0          2  2019-09-01 00:10:53   2019-09-01 00:23:46                  N
1          2  2019-09-01 00:31:22   2019-09-01 00:44:37                  N
2          2  2019-09-01 00:50:24   2019-09-01 01:03:20                  N
3          2  2019-09-01 00:27:06   2019-09-01 00:33:22                  N
4          2  2019-09-01 00:43:23   2019-09-01 00:59:54                  N
..       ...                  ...                   ...                ...
95         2  2019-09-01 00:40:55   2019-09-01 00:48:35                  N
96         2  2019-09-01 00:13:52   2019-09-01 00:21:47                  N
97         2  2019-09-01 00:37:24   2019-09-01 01:02:31                  N
98         2  2019-09-01 00:22:15   2019-09-01 00:29:52                  N
99         2  2019-09-01 00:11:53   2019-09-01 00:30:31                  N

    RatecodeID  PULocationID  DOLocationID  passenger_count  trip_distance  \
0            1            65           189                5           2.00
1            1            97           225                5           3.20
2            1            37            61                5           2.99
3            1           145           112                1           1.73
4            1           112           198                1           3.42
..         ...           ...           ...              ...            ...
95           1            95           160                1           2.24
96           1            75           151                1           2.04
97           1            41           182                1           7.77
98           1            74           260                1           4.99
99           1           255           228                1           7.54

    fare_amount  extra  mta_tax  tip_amount  tolls_amount  ehail_fee  \
0          10.5    0.5      0.5        2.36          0.00        NaN
1          12.0    0.5      0.5        0.00          0.00        NaN
2          12.0    0.5      0.5        0.00          0.00        NaN
3           7.5    0.5      0.5        1.50          0.00        NaN
4          14.0    0.5      0.5        3.06          0.00        NaN
..          ...    ...      ...         ...           ...        ...
95          9.0    0.5      0.5        0.00          0.00        NaN
96          8.5    0.5      0.5        1.96          0.00        NaN
97         26.0    0.5      0.5        5.46          0.00        NaN
98         15.0    0.5      0.5        2.58          6.12        NaN
99         22.0    0.5      0.5        0.00          0.00        NaN

    improvement_surcharge  total_amount  payment_type  trip_type  \
0                     0.3         14.16             1          1
1                     0.3         13.30             2          1
2                     0.3         13.30             2          1
3                     0.3         10.30             1          1
4                     0.3         18.36             1          1
..                    ...           ...           ...        ...
95                    0.3         10.30             2          1
96                    0.3         11.76             1          1
97                    0.3         32.76             1          1
98                    0.3         25.00             1          1
99                    0.3         23.30             2          1

    congestion_surcharge
0                    0.0
1                    0.0
2                    0.0
3                    0.0
4                    0.0
..                   ...
95                   0.0
96                   0.0
97                   0.0
98                   0.0
99                   0.0

[100 rows x 20 columns]

In [ ]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))